@model OpenPac.Models.District

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>District</legend>

    <div class="display-label">Latitude</div>
    <div class="display-field">@String.Format("{0:F6}", Model.Latitude)</div>

    <div class="display-label">Longitude</div>
    <div class="display-field">@String.Format("{0:F6}", Model.Longitude)</div>

    <div class="display-label">State</div>
    <div class="display-field">@Model.State</div>

    <div class="display-label">DistrictNumber</div>
    <div class="display-field">@Model.DistrictNumber</div>

    <div class="display-label">Candidates</div>
    <div class="display-field">@(Model.Candidates == null ? "None" : Model.Candidates.Count.ToString())</div>

    <div class="display-label">MediaOutlets</div>
    <div class="display-field">@(Model.MediaOutlets == null ? "None" : Model.MediaOutlets.Count.ToString())</div>

    <div class="display-label">ImportantIssues</div>
    <div class="display-field">@(Model.ImportantIssues == null ? "None" : Model.ImportantIssues.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


