@{
    ViewBag.Title = "Home Page";
}

<h2>Open PAC</h2>
<p>
    Welcome to Open PAC!
</p>

<ul>
    <li>
        @Html.ActionLink("Candidates", "Index", "Candidates")
    </li>
    <li>
        @Html.ActionLink("Candidate Issues", "Index", "CandidateIssues")
    </li>
    <li>
        @Html.ActionLink("Districts", "Index", "Districts")
    </li>
    <li>
        @Html.ActionLink("District Issues", "Index", "DistrictIssues")
    </li>
    <li>
        @Html.ActionLink("Issues", "Index", "Issues")
    </li>
    <li>
        @Html.ActionLink("MediaOutlets", "Index", "MediaOutlets")
    </li>
    <li>
        @Html.ActionLink("MediaOutletIssues", "Index", "MediaOutletIssues")
    </li>
</ul>
